    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  .btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  
  /* On mouse-over */
  .btn:hover {background: rgb(182, 182, 182);}
  
  .success {color: green;}
  .info {color: dodgerblue;}
  .warning {color: orange;}
  .danger {color: red;}
  .default {color: aliceblue;}

  * {
    color: aliceblue;
    font-size: 20px;
 }